__pycache__/
*.py[cod]
*.pyo
*.log
*.egg-info/
.DS_Store
.env
.env.*
.venv
venv/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.nox/
.tox/
.idea/
.vscode/
build/
dist/
site-packages/
